[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-labs/morpho-blue
